.interests-container {
  border: 1px solid #ccc;

  padding: 25px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.edit-button3 {
  background-color: #f59c13;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  font-size: large;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
}

.popup h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.interest-options {
  display: flex;
  flex-wrap: wrap;
}

.interest-options label {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.interest-options input[type="checkbox"] {
  margin-right: 5px;
}

.popup-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.popup-buttons button {
  margin-right: 10px;
  background-color: #f59c13;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-buttons button:last-child {
  margin-right: 0;
  background-color: #aaa;
}

.interests-display {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.interest-tag {
  background-color: #f59c13;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
